/node_modules
/public/page-cache
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.php_cs.cache
storage/debugbar
.DS_Store
.phpunit.cache
