{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "public/css/app.css"
  ],
  "rules": {
    "indentation": 4,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "tailwind"
      ]
    }],
    "no-eol-whitespace": [ true, {
      "ignore": ["empty-lines"]
    }]
  }
}
