@tailwind base;
@tailwind components;
@tailwind utilities;

.border-hover {
    @apply inline-block transition border-b;
}
.border-hover:hover {
    box-shadow: 0 1px 0px -0px ;
}

/*
Markdown Styles
via https://tjaddison.com/blog/2019/08/styling-markdown-tailwind-gatsby/
*/
.markdown {
    @apply leading-relaxed text-sm;
}

@screen sm {
    .markdown {
        @apply text-base;
    }
}

@screen lg {
    .markdown {
        @apply text-lg;
    }
}

/* Headers */
.markdown h1,
.markdown h2 {
    @apply text-xl mb-6 font-semibold;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    @apply text-lg mb-3 font-semibold;
}

@screen sm {
    .markdown h1,
    .markdown h2 {
        @apply text-2xl;
    }

    .markdown h3,
    .markdown h4,
    .markdown h5,
    .markdown h6 {
        @apply text-xl;
    }
}

/* Links */
.markdown a {
    @apply text-blue-600;
}

.markdown a:hover {
    @apply underline;
}

/* Paragraph */
.markdown p {
    @apply mb-4;
}

/* Lists */
.markdown ul,
.markdown ol {
    @apply mb-4 ml-8;
}

.markdown ul {
    @apply list-disc;
}

.markdown ol {
    @apply list-decimal;
}

.markdown li > p,
.markdown li > ul,
.markdown li > ol {
    @apply mb-0;
}

/* Blockquotes */
.markdown blockquote {
    @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.markdown blockquote > p {
    @apply mb-0;
}

/* Tables */
.markdown td,
.markdown th {
    @apply px-2 py-1 border border-gray-400;
}

.markdown tr:nth-child(odd) {
    @apply bg-gray-100;
}

.markdown table {
    @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
     the setting for codeblocks (inside ```), which are rendered in as:
     <pre><code>...
*/
.markdown :not(pre) > code.language-text {
    white-space: pre-line;
}
